{% extends 'ZamatOAuth2Bundle::layout.html.twig' %}
{% block stylesheets %}
{% endblock %} 
{% block javascripts %}
{% endblock %}
{% block content %}
    <h1>{{'Authorize'|trans}}</h1>
    <form method="post">   
        <input type="hidden" name="authorize" value="1" />
        <input type="submit" value="{{'Authorize'|trans}}" />
    </form>
{% endblock%}