{% extends 'ZamatOAuth2Bundle:Secure:layout.html.twig' %}
{% block content %}
    
    <div class="login-wrapper">
      <div class="bg-pic">
        <!-- put walpaper image -->  
        <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
          <h2 class="semi-bold text-white"><!-- put text --> </h2>
          <p class="small"><!-- put text copyright --> </p>
        </div>
      </div>
        
      <div class="login-container bg-white">
        <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
                   
            {% if error is defined %}
                <div>
                    <p class="p-t-35">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </p>
                </div>
            {% endif %}    
            
            <form method="post">
                <button type="submit" >{{'Connect'|trans}}</button>
            </form>
            
          
              
        </div>              
      </div> 
              
    </div>   

{% endblock %}